<ion-header translucent  >
    <ion-toolbar >
      <ion-title style=" font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: green;font-size: xx-large;font-weight: bolder;">My Attendence</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>
  
    
  <ion-list inset>

    <ion-item>
      <img src="../../assets/logo.png">
    </ion-item>


<ion-item>
      <ion-label style="font-size: 15px;color: black; " position="floating" >Username</ion-label>
      <ion-input style="font-size: 15px;color: black;" value=""></ion-input>
</ion-item>

  <ion-item style="shape-outside: border-box;">
        <ion-label   style="font-size: 15px;" position="floating" >Password</ion-label>
        <ion-input   style="font-size: 15px;" value=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Address</ion-label>
    <ion-input placeholder="Address Line 1"></ion-input>
    <ion-input placeholder="Address Line 2"></ion-input>
    <ion-input placeholder="City"></ion-input>
    <ion-input placeholder="Province"></ion-input>
    <ion-input placeholder="PostalCode"></ion-input>
  </ion-item>


    <ion-item>
        <ion-label style="font-size: 15px;" position="floating" >Email</ion-label>
        <ion-input  style="font-size: 15px;"  value = "" ></ion-input>
     </ion-item>

</ion-list>

 </ion-content>
