<ion-header translucent  >
    <ion-toolbar >
      <ion-title style=" font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: green;font-size: xx-large;font-weight: bolder;">My Attendence</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>
  
    
     <ion-list inset>

    
    <img src="../../assets/logo.png">
   
    <ion-input  [(ngModel)]="logindata.username" type = "text" placeholder="Username" style="font-size: 20px;color: black;" value=""></ion-input>

    <ion-input  [(ngModel)]="logindata.email" type = "text" placeholder="email" style="font-size: 20px;"  value = "" ></ion-input>
     
    <ion-input  [(ngModel)]="logindata.password" type = "text" placeholder="Password"  style="font-size: 20px;" value=""></ion-input>

    <ion-input  [(ngModel)]="logindata.C_password" type = "text" placeholder="Confirm Password"  style="font-size: 20px;" value=""></ion-input>



   
    
    <ion-input  [(ngModel)]="logindata.address" type = "text" style="font-size: 20px;" placeholder="Address"></ion-input >
    <ion-input  [(ngModel)]="logindata.city" type = "text" style="font-size: 20px;"placeholder="City"></ion-input>
    <ion-input  [(ngModel)]="logindata.province" type = "text" style="font-size: 20px;" placeholder="Province"></ion-input>
    <ion-input  [(ngModel)]="logindata.postalCode" type = "text" style="font-size: 20px;" placeholder="PostalCode"></ion-input>  
  

</ion-list>
 
<ion-button (click)="loginClick()"  shape="round" size="30px" color="light" >
  <ion-icon slot="icon-only" name="log-in" ></ion-icon>Log In</ion-button>

<ion-button shape="round" size="30px" color="light" >
<ion-icon slot="icon-only" name="person" ></ion-icon> 

Register</ion-button>
 </ion-content>
