<ion-header translucent  >
 
    <ion-toolbar >
      <ion-title style=" font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: green;font-size: xx-large;font-weight: bolder;">      My Attendence</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>

   <ion-list inset>

    <img src="../../assets/logo.png">
    
    <ion-input  [(ngModel)]="logindata.firstName" type = "text" style="font-size: 20px;" placeholder="First Name"></ion-input >

    <ion-input  [(ngModel)]="logindata.lastName" type = "text" style="font-size: 20px;"placeholder="Last Name"></ion-input>
   
    <ion-input  [(ngModel)]="logindata.userName" type = "text" placeholder="Username" style="font-size: 20px;color: black;" value=""></ion-input>

    <ion-input  [(ngModel)]="logindata.email" type = "text" placeholder="email" style="font-size: 20px;"  value = "" ></ion-input>
     
    <ion-input  [(ngModel)]="logindata.password" type = "password" placeholder="Password"  style="font-size: 20px;" value=""></ion-input>

    <ion-input  [(ngModel)]="logindata.C_password" type = "password" placeholder="Confirm Password"  style="font-size: 20px;" value=""></ion-input>

    <ion-item style="right: 9px;">
      <ion-label style="font-size: 20px;">SignUp as Instructor</ion-label>
      <ion-checkbox style="font-size: 20px;" color="light"  [(ngModel)]="IsInstructor"></ion-checkbox>
    </ion-item>
  
</ion-list>

<ion-input readonly="" style="font-size: 20px; color: red;" [(ngModel)]="errorMessege"  ></ion-input>

<ion-row style="margin-bottom: 15px;margin-top: -30px;">

  <ion-col col-12 col-sm ><ion-button  (click)="registerClick()" style="margin-left: 10px;margin-bottom: 20px;" shape="round" size="30px" color="light" >
    <ion-icon slot="icon-only" name="person" ></ion-icon>Register</ion-button></ion-col>

  <ion-col col-12 col-sm><ion-button  (click)="ToLoginClick()" shape="round" size="30px" color="light" >
    <ion-icon slot="end" name="arrow-round-forward" ></ion-icon>To Login </ion-button>
    </ion-col>

</ion-row>
  
</ion-content>