<ion-header>
  <ion-toolbar>
    <ion-title style=" font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: green;font-size: xx-large;font-weight: bolder;">      My Attendence</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
        <div class="segment">
          <ion-label style="font-size: 30px;">Welcome to class </ion-label>
          <ion-input [(ngModel)]="firstName" readonly  style="font-size: 30px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
          'Trebuchet MS', sans-serif;color: green" ></ion-input>
        </div>
  
    <div class="form">
     
      <ion-row>
      <ion-col>
      <label>
        <input type="text"  style="color: black; width: 180px;" [(ngModel)]="className" placeholder="enter class Name"/>
      </label>
      </ion-col>
      
       <ion-col>
        <button class="red" (click)="addClassClick()" style="color: black; width: 60px;">  <ion-icon slot="icon-only" name="add">
        </ion-icon></button>
      </ion-col>
      <!-- <ion-col>
        <button class="red" (click)="deleteClassClick()" style=" margin-top: 10px;" type="button">  <ion-icon slot="icon-only" name="add">
        </ion-icon> Delete</button>
      </ion-col> -->

    </ion-row>
  
  </div>
       
      <div class="segment" id="myclass" *ngFor="let div of data">
        <ion-label  style="font-size: 30px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
         'Trebuchet MS', sans-serif;color: green"  (click)="classSelectClick($event)"> {{div}} </ion-label>
       </div>

</ion-content>
