<ion-header>
  <ion-toolbar>
    <ion-title style=" font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: green;font-size: xx-large;font-weight: bolder;">      My Attendence</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list inset>
    <img src="../../assets/logo.png">
    <ion-input  [(ngModel)]="userName" type = "text" style="font-size: 20px;" placeholder="userName"></ion-input >
    <ion-input  [(ngModel)]="password" type = "text" style="font-size: 20px;"placeholder="Password"></ion-input>

    <ion-item style="right: 9px;">
      <ion-label style="font-size: 20px;">Are you Instructer ?</ion-label>
      <ion-checkbox style="font-size: 20px;" color="light"  [(ngModel)]="IsInstructor"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-row>
    <ion-col>
      <ion-button (click)="loginClick()"  shape="round" size="30px" color="light" >
      <ion-icon slot="icon-only" name="log-in" ></ion-icon>Log In</ion-button>      
    </ion-col>

    <ion-col>
      <ion-button (click)="ToRegisterClick()"  shape="round" size="30px" color="light" >
        <ion-icon slot="icon-only" name="arrow-round-forward" ></ion-icon>To Register</ion-button>      
    </ion-col>
  </ion-row>
 
</ion-content>